/** {
  box-sizing:border-box;
}*/

.body{
  background-color:black;
  color:white;
  }




h1 {
  color:white;
  text-align:center;
}

p {
  color:#DDDDDD;
  font-family:"Times New Roman";
  font-size:15px;
}
.header, .footer{
  background-color:#222222;
  color:#DDDDDD;
  font-family:Helvetica;
  padding: 15px;
  height:17%;
  width:100%;
}
.column{
  float: left;
  background-color:#111111;
  color:#EEEEEE;
  width:15%;
}
.menu{
  background-color:violet;
  color:white;
  width:25%;
  height:25%;
}
.content{
  background-color:black;
  color:#EEEEEE;
  width: 75%;
  height:50%;
}
topnav{
  list-style-type:none;
  margin:0;
  padding:0;
  background-color:#222222;
  overflow:hidden;
  display:inline-block;
}
li.topnav {
  float: left;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
li.topnav a, .dropbtn{
  display:inline-block;
  color:lightgray;
  text-align:center;
  padding: 14px 16px;
  text-decoration:none;
}
li.topnav a:hover, .dropdown:hover .dropbtn{
  background-color:indigo;
  color:lightgray;
}
li.topnav.dropdown {
  display: inline-block;
}
li.topnav.dropdown-content {
  display:none;
  position:absolute;
  background-color:violet;
  min-width: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}
li.topnav.dropdown-content a {
  color:white;
  padding:12px 16px;
  text-decoration:none;
  display:block;
  text-align:center;
}
li.topnav.dropdown-content a:hover {background-color:emerald;}
li.topnav.dropdown:hover .dropdown-content{
  display:block;
}
li.topnav a{
  display:block;
  padding: 8px;
  background-color:black;
  color:lightgray;
  font-size:15px;
  text-decoration:none;
  text-align:center;
}
li.topnav a:hover{
  display:block;
  background-color:indigo;
  color:white;
  text-decoration:none;
  text-align:center;
}
li.topnav a.active{
  background-color:lightgray;
  color:black;
}